<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/All_CSS_Files/Conferences/CallForPaperSubmit/CallForPaper.css">

</head>

<body>
    <header>

        <nav>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>Commitee</li>
                </a>
                <a href="#">
                    <li>Publication</li>
                </a>
                <a href="#">
                    <li>Registration</li>
                </a>
                <a href="service/form">
                    <li>Call For Paper</li>
                </a>

            </ul>
        </nav>
        <div class="banner">
            <img src="/images/callForPaperBanner.jpg" alt="callForPaperBannerLogo">
        </div>
        <div class="title">
            <h1>Call for Papers</h1>
        </div>
        <div class="title title2">
            <h5>"Submit Your Research & Contribute to Innovation"</h5>
        </div>
        <div class="title summery">
            Join us in shaping the future of research and academia.
            We invite scholars, researchers,and professionals to submit their original work for publication in
            esteemed
            journals and conference proceedings.
        </div>
    </header>

    <main>

        <div class="conference-title">
            <h1>
                <%=shortcutTitle%>
            </h1>
        </div>
        <div class="guideline">
            <div class="rule what-to-submit">
                <h3>What to submit?</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicingelit. Laudantium quod omnis necessitatibus
                    cupiditate odit. Vel.</p>
                <p>comming from database</p>
                <p>comming from database</p>
                <p>comming from database</p>
                <p>comming from database</p>
                <p>comming from database</p>
            </div>
            <div class="rule">
                <h3>Guidelines for full paper submission are: </h3>
                <p>1. The paper must be written strictly conforming to format & specifications.</p>

                <p>2. All papers must be written in English only.</p>

                <p>3. All papers must be original and not simultaneously submitted to another journal or conference.
                </p>

                <p>4. Conference strictly abides to Plagiarism Policy, and authors are advised to check plagiarism
                    prior
                    to paper submission.</p>

                <p>5. Papers must be submitted in doc/docx/pdf file format.</p>

                <p>6. All papers are reviewed by at least two reviewers who are relevant to scope of paper. Review
                    process employs double blind review type where both reviewers and authors become anonymous
                    through
                    the process.</p>

                <p>7. Please Feel Free to Contact Organizing Committee, If Your paper meets the conference theme and
                    area is not listed in the topics.</p>

                <p>8. Authors will be informed via email about acceptance, revision or rejection of the paper.</p>
            </div>
        </div>
        <div class="buttons">
            <a href="service/form"> <button class="paper-submit-btn" id="paper-submit-btn">Click For Submit
                    Paper</button></a>
            <button class="paper-submit-btn" id=" Download-Paper-Temlate">Download Paper Temlate</button>
        </div>

    </main>

    <footer>

    </footer>


    <!--  -->
    <!--  -->
    <!--  -->
    <!-- form start from here -->





    <script>

    </script>
</body>

</html>