<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/All_CSS_Files/Books/recentBookPage.css">

</head>

<body>
    <header>
        <div class="banner-img"><img src="/images/BookBanner.png" alt="err"></div>
        <h1 id="theme">Inspire Your Mind 💡 – Discover Our
            Latest Educational Books 📚✨</h1>
        <nav>
            <div class="logo"><img src="/images/rameLogo.png" alt="logo" width="50px">
                Rame Association
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

</body>

</html>


